<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Multimedia</h1>
        </header>
        <aside>
            <h1>Multimedia</h1>
            <<p>Incorporación de recursos multimedia</p>
        </aside>
        <section>
            <h2>Uso de Multimedia</h2>
            <article>
                <h3>Musica Celta</h3>
                <audio>
                    <audio controls>
                        <source src="../static/audio/musica.mp3" type="audio/mpeg">
                        Your browser does not support the <code>audio</code> tag.
                    </audio>
                </audio>
            </article>
            <article>
                <h3>Pelicula de Acción</h3>
                <video>
                    <video width="320" height="240" controls>
                        <source src="../static/video/torpedo.mp4" type="video/mp4">
                        Your browser does not support the <code>video</code> tag.
                    </video>
                </video>
            </article>
        </section>
        <footer>
            
        </footer>
    </body>
</html>
